@import "tailwindcss";

@theme {
  --color-soft-green: #A7F3D0;
  --color-soft-pink: #F9A8D4;
  --color-soft-yellow: #FDE68A;
  --radius-xl: 1.5rem;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type=number] {
  -moz-appearance: textfield; 
}